@charset "UTF-8";

:root {
    /*Colors*/
    --co-cyan-300: hsl(192, 90%, 77%);
    --co-cyan-600: hsl(192, 37%, 48%);
    --co-purple-300: hsl(268, 100%, 86%);
    --co-purple-600: hsl(268, 34%, 53%);    
    --co-slate-300: hsl(240, 18%, 85%);
    --co-slate-600: hsl(240, 10%, 57%);
    --co-slate-900: hsl(240, 21%, 20%);   
    --co-white: hsl(0, 0%, 98%);
    

    /*Font*/
    --ff-red-hot-display: "Red Hat Display", sans-serif;
    --fw-medium-500: 500;
    --fw-black-900: 900;
    --fs-12: 0.75rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-32: 2rem;
    --fs-40: 2.5rem;
    --fs-64: 4rem;   
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

body,
h1,
h2,
h3,
p,
header,
main,
section,
footer,
button {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff-red-hot-display);
    font-weight: var(--fw-medium-500);
    font-size: var(--fs-16);
    background-color: var(--co-white);
}

/*======= FONTS =========*/
h1 {
    font-family: var(--ff-red-hot-display);
    font-weight: var(--fw-black-900);
    font-size: clamp(var(--fs-40), 10vw, var(--fs-64));
    line-height: 1.1;
    color: var(--co-slate-900);
}

h2 {
    font-family: var(--ff-red-hot-display);
    font-weight: var(--fw-black-900);
    font-size: var(--fs-40);
    line-height: 1.1;
    color: var(--co-slate-900);
}

p {
    font-family: var(--ff-red-hot-display);
    font-weight: var(--fw-medium-500);
    font-size: var(--fs-18);
    line-height: 1.1;
    color: var(--co-slate-600);
}

p strong {
    font-family: var(--ff-red-hot-display);
    font-weight: var(--fw-black-900);
    font-size: var(--fs-16);
    line-height: 1.1;
    color: var(--co-cyan-600);
}

.text-preset-5 {
    font-family: var(--ff-red-hot-display);
    font-weight: var(--fw-black-900);
    font-size: var(--fs-16);
    line-height: 1.5;
    color: var(--co-white)
}

/*======= BUTTONS =========*/

.btn {
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 1.8125rem; /*29px*/
}

.btn--big{
    width: 12.0625; /*193px*/
    height: 3.5; /*56px*/    
}

.btn--small {
    width: 10.0625rem; /*161px*/
    height: 3.5rem; /*56px */
}

.btn--bkg-cyan {
    background-color: var(--co-cyan-600);
}

.btn--bkg-purple {
    background-color: var(--co-purple-600);
}

.btn-txt-cyan {
    color: var(--co-cyan-300);
}

.btn-txt-purple {
    color: var(--co-purple-300);
}

/*Containers, Position and others*/

header {
    padding-top: 2.875rem; /*46px*/
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.hero {
    max-width: 89.9375rem; /*1439px;*/
    margin: 0 auto 12.375rem auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.hero__content {
    margin-top: 2.0625rem;
    padding: 0 2.1875rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;    
    gap: 1.875rem; /*30px*/
    text-align: center;    
}

.hero__content > h1 {
    max-width: 10ch;  
}

.hero__content > p {
    max-width: 35ch;
}

.hero__content > .break-line {
    word-wrap: break-word;
    display: inline-block;    
}

.hero__content > .no-break-line {
    white-space: nowrap;
    display: inline;
}

.hero picture img {
    max-width: 100%;
    margin-bottom: 40px;
}

.hero__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}


/* Gerneral */
/*.wrapper {
    max-width: 1440px;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    max-width: 100%;
    background-color: aqua;
    height: 6.75rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 85px;
}

.hero {
    max-width: 100%;
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-around;  
    align-items: center;
    text-align: center;
    gap: 7rem;
    flex-wrap: wrap;
    
}





.hero__content {
    width: 40ch;
    display: flex;
    flex-direction: column;
    gap: 34px;
   
}


.hero__buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
}
*/

@media (max-width: 1439px){
    .hero {
        flex-direction: column;
    }

    .hero-img__right {
        display: none;
    }
}