@charset "UTF-8";


:root {
    /*Colors*/
    --co-cyan-300: hsl(192, 90%, 77%);
    --co-cyan-600: hsl(192, 37%, 48%);
    --co-purple-300: hsl(268, 100%, 86%);
    --co-purple-600: hsl(268, 34%, 53%);    
    --co-slate-300: hsl(240, 18%, 85%);
    --co-slate-600: hsl(240, 10%, 57%);
    --co-slate-900: hsl(240, 21%, 20%);   
    --co-white: hsl(0, 0%, 98%);
    

    /*Font*/
    --ff-red-hot-display: "Red Hat Display", sans-serif;
    --fw-medium-500: 500;
    --fw-black-900: 900;
    --fs-12: 0.75rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-32: 2rem;
    --fs-40: 2.5rem;
    --fs-64: 4rem;   
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

body,
h1,
h2,
h3,
p,
header,
main,
section,
footer {
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;    
}

body {
    font-family: var(--ff-red-hot-display);
    font-weight: var(--fw-medium-500);
    font-style: normal;
    font-size: var(--fs-16);
    color: var(--co-slate-600);
    background-color: var(--co-white);
    line-height: 110%;
}

/* font */

h1 {
    font-family: var(--ff-red-hot-display);
    font-weight: var(--fw-black-900);
    font-size: var(--fs-40);
    color: var(--co-slate-900);
    line-height: 110%;    
}

h2 {
    font-family: var(--ff-red-hot-display);
    font-weight: var(--fw-black-900);
    font-size: var(--fs-32);
    color: var(--co-slate-900);
    line-height: 110%;
}

p {
    font-family: var(--ff-red-hot-display);
    font-weight: var(--fw-medium-500);
    font-size: var(--fs-16);
    line-height: 150%;
    color: var(--co-slate-600);
}

p strong {
    font-family: var(--ff-red-hot-display);
    font-weight: var(--fw-black-900);
    font-size: var(--fs-12);
    color: var(--co-cyan-600);
    text-transform: uppercase;
}

/* Images*/
